/* start reset */
html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active {
  text-decoration: none;
}
input,
input:focus,
textarea,
textarea:focus,
select,
select:focus {
  box-shadow: unset;
  outline: unset;
}
body {
  font-family: "Lato", sans-serif;
  padding-top: 6.1rem; /* ptr bara de navigare */
  /* overflow-x: hidden; */
}
h1 {
  font-size: 4rem;
  line-height: 4.6rem;
  font-weight: 900;
}
h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: 900;
}
h3,
h4,
h5,
h6 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
p {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 400;
}
.img-responsive {
  display: block;
  max-width: 100%;
}
ul,
ol {
  list-style-type: none;
}
/* end reset */

/* start NAVbar style */

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand img {
  height: 5rem;
  display: block; /* scapam de px de sub imagine */
}

nav.navbar {
  background-color: #181f4c;
}

.navbar-nav .nav-link {
  font-size: 1.4rem;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #f8b357;
}

.nav-item .dropdown-menu {
  background-color: #101d42;
}

.nav-item .dropdown-item {
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
}

.nav-item .fa-youtube {
  color: red;
}

button .fa-bars {
  color: white;
  font-size: 2rem;
}

/* start section1 */

.background-section1 {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 6.1rem);
}

.videoContainer video {
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: -999;
}

.section1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 0;
}

.section1 h1 {
  color: white;
}

.section1 p {
  font-size: 2rem;
  color: white;
}

.section1 span {
  color: orange;
}

.images-1-em img {
  height: 1em;
  margin: 5px;
  font-size: 2.5rem;
}

.section1 a {
  display: inline-block;
  border: 0.2rem solid #2bb686;
  color: white;
  background-color: #2bb686;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  margin-top: 10rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.section1 a:hover {
  background-color: transparent;
  color: #2bb686;
}



@media (max-width: 991px) {
  .videoContainer video {
    width: unset;
  }
  .images-1-em {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
  }
}

/* start section2 */

.section-subtitle h2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.calendar {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
}

.calendar h3 {
  padding-left: 1rem;
  padding-top: 1.5rem;
}

.calendar ul {
  display: flex;
  padding-left: 1rem;
  padding-top: 1.5rem;
  font-size: 1.6rem;
}

.calendar li {
  margin-right: 1.5rem;
}

.calendar li a {
  background-color: orange;
}

.calendar .border {
  height: 8px;
  background-color: tomato;
  border-radius: 5px;
  margin-top: 1.5rem;
}

/* start section3 */

.background-all {
  background-color: #dfedf5;
}

.section3 {
  margin-top: 4rem;
  padding-bottom: 5rem;
  clip-path: polygon(0 0, 100% 4rem, 100% 100%, 0% 100%);
}

.section3 p {
  text-align: center;
}

.section3 img {
  border: 5px solid white;
  border-radius: 5px;
  margin-top: 5px;
}

/* start section4 */

.section4 .border {
  background-color: darkslategray;
  height: 3px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.section4 .padding-b {
  padding-bottom: 10rem;
}

/* start section5 */

.columns-3 p img {
  width: 9rem;
}

.columns-3 h3 {
  /* padding-top: 0.5rem; */
  text-align: center;
}

.columns-3 p {
  text-align: center;
  padding-top: 2rem;
}

.section5 {
  padding-bottom: 5rem;
}

/* start section6 */

.section6 img {
  width: 12rem;
  filter: grayscale(100%);
  transition: all 0.3s;
}

.section6 img:hover {
  filter: unset;
}
.section6 p {
  text-align: center;
}

.section6 {
  padding-bottom: 5rem;
}

@media (max-width: 767px) {
  .bordura {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 50%;
  }
}

/* start section7 */

.flex {
  display: flex;
}

.flex .imagine {
  width: 14rem;
  height: 12rem;
}

.flex .imagine img {
  border-radius: 50%;
  transition: all 1s;
}

.flex .imagine img:hover {
  transform: rotateY(180deg);
}

.flex1 {
  flex: 1;
  padding-bottom: 6rem;
}

.flex1 h6 {
  font-size: 1.3rem;
  font-weight: unset;
}

.flex1 .stilizareli li {
  border: 2px solid black;
  width: 2rem;
  height: 1.2rem;
  border-radius: 35%;
  background-color: unset;
  cursor: pointer;
}

.flex1 .stilizareli li.active {
  background-color: black;
}

.section7 {
  padding-bottom: 5rem;
}

/* start section8 */

.image-s8 img {
  width: 6rem;
  height: 6rem;
  filter: grayscale(100%);
  margin: 0 1rem;
  /* transition: .3s; */
}

.image-s8 img:hover {
  filter: unset;
}

.image-s8 {
  text-align: center;
  margin: 3rem 0 6rem;
}

.section8 h4 {
  text-align: center;
  padding-top: 3rem;
}

/* start section9 */

.section9 {
  clip-path: polygon(0 0, 100% 4rem, 100% 100%, 0% 100%);
}

.section9 .section-subtitle p {
  text-align: center;
  font-size: 1.8rem;
}

.subtitle-down {
  margin-bottom: 5rem;
}

.tabel-curs {
  margin: 3rem 0 5rem 0;
}

.tabel-curs p:first-child {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.tabel-curs span {
  font-size: 1.8rem;
}

.line1 {
  background-color: #101d42;
  color: #ffffff;
  padding: 1rem 0;
  position: relative;
}

.line1::after {
  content: "";
  height: 3px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(247, 233, 49, 0.767),
    transparent
  );

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.image-center img {
  width: 85%;
  position: relative;
  bottom: 8rem;
}

@media (max-width: 1199px) {
  .image-center {
    margin-top: 8rem;
  }
  .subtitle-down {
    margin-bottom: unset;
  }
}

/* start section 10 */

.section10 .section-subtitle-n p {
  text-align: center;
  padding-bottom: 2rem;
}

.section10 .section-subtitle-n h2 {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.wrap-form {
  display: flex;
  padding-bottom: 7rem;
}

.all {
  padding: 2rem 0.5rem;
  font-size: 1.8rem;
  border: 1px solid rgba(55, 56, 49, 0.171);
  border-radius: 3px;
}

.first {
  width: 45rem;
}

.second {
  width: 45rem;
}

.third {
  flex: 1;
  background-color: #2bb686;
  color: #ffffff;
  border: 1px solid #2bb686;
}

/* last section */

.last-section {
  padding: 8rem 0 3rem;
  background-color: #101d42;
  color: #dfedf5;
}

.last-section h3 {
  padding-bottom: 3rem;
  color: orange;
}

h3.padds {
  padding-left: 1rem;
}

.border-lefts p {
  padding-left: 1rem;
}

h3.padd {
  padding-left: 1rem;
}

.border-lefted p {
  padding-left: 1rem;
}

.border-lefted {
  position: relative;
}

.border-lefted::before {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;

  background-color: #ffffff;
}

.border-lefted p img {
  height: 1em;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.center-text {
  text-align: center;
  padding: 6rem 0 2rem;
}

.center-text a {
  font-size: 1.8rem;
}

.center-text span {
  margin-left: 4px;
  margin-right: 6px;
}

.center-text .fa-facebook-square {
  color: #3b5998;
}

.center-text .fa-twitter {
  color: #4099ff;
}

.newborder {
  position: relative;
}

.newborder::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  border: 1px dotted #4d4d4d;
}

footer p {
  text-align: center;
  padding: 3rem 0 1rem;
}

.last-section {
  overflow: hidden;
}

.comment .fa {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 5rem;
  color: rgba(3, 56, 92, 0.726);
}

@media (max-width: 1199px) {
  .first {
    max-width: 39%;
  }

  .second {
    max-width: 39%;
  }

  .border-lefted {
    padding-top: 3.2rem;
  }
}
